SANITY_PROJECT_ID=2jvnjf0c
SANITY_DATASET=production
SANITY_TOKEN=
STRIPE_SECRET_KEY=
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
DATABASE_URL=
RESEND_API_KEY=
AUTH_SECRET=
NUXT_PUBLIC_SITE_URL=https://vitesse-eco.com
